body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/TechBechSchool/assets/images/Background\ image\ big.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* background-position: center center; */
    flex-direction: column;
    justify-content: space-between;
    width: 1440px;
    height: 1024px;
    flex-shrink: 0;
    }
    
    .encabezado {
      background-color: black;
      border: 2px solid #3498db;
      display: flex;
      justify-content: space-between;
    }
    
    button {
      background-color: #CEA8FF;
      right: 20px; /* Ajusta este valor según tus necesidades */
      top: 30%;
      padding: 1em 2em; /* Ajusta el tamaño de los botones con unidades relativas */  color: black;
      border: none;
      border-radius: 1em; /* Ajusta la cantidad para hacer los botones más redondeados */
      border: 0.2em solid #2980b9; /* Ajusta el grosor del borde con unidades relativas */
      cursor: pointer;
      flex: 1; /* Hace que los botones ocupen el mismo ancho */
       margin-right: 100px;
       margin-bottom: 15px;
       text-align: center;
    }
    
    button:hover {
      background-color: #DCB1FF;
    }
    
    .buttons-container button:nth-child(2) {
        right: 70px;
      }
      
      .buttons-container button:nth-child(3) {
        right: 140px;
      }
    
      .pie-de-pagina {
        text-align: center;
        display: flex;
        justify-content: space-between;
        background-color: black;
        border: 2px solid #3498db;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px;
      }
    
      .contenido-principal {
        width: 50%; /* Puedes ajustar el ancho según tus necesidades */
        margin-left: auto;
        margin-right: auto;
        text-align: center; /* Opcional: centra el contenido dentro de .contenido-principal */
        position: relative;
        color: #FFFFFF;
      }
     
      .redes-sociales a {
        margin: 0 10px;
        display: inline-block;
      }
      
      .redes-sociales img {
        width: 30px;
      }

      .texto-enlaces {
        display: flex;
        align-items: center;
      }
      
      .texto-enlaces p {
        margin: 5px 10px 5px 0; /* Ajusta el margen según tus preferencias */
      }
    
      .descripcion-imagen {
        flex: 1;
        max-width: 80v; /* Ajusta según sea necesario */
        text-align: center;
        margin: 10px;  }
      
      .descripcion-imagen img {
        width: 100%;
        height: auto;
      }
      
      .descripcion {
        display: none;
      }
    
      /* Media queries para ajustar el diseño en pantallas más pequeñas */
      @media (max-width: 768px) {
        .galeria {
          flex-direction: column;
        }
      
        .descripcion-imagen {
          max-width: 100%;
        }
      }  

      .imagen-con-texto { 
        max-width: 200px; /* Ancho máximo del contenedor */
        margin-bottom: 4vw; /* Espaciado inferior en unidades de viewport */
        text-align: center;
        /* Fondo morado casi transparente */
        background-color: rgba(128, 0, 128, 0.2);
        padding: 4vw; /* Espaciado interno en unidades de viewport */
      }
      
      .imagen-con-texto img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
      
      .imagen-con-texto p {
        margin: 0;
        color: #fff; /* Color del texto blanco */
      }