
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    background-image: url('/TechBechSchool/assets/images/Background image big.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

/*--------------NAV------*/
nav {   
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid #00A7C5;
  }
  img {
        width: 12vw; 
        margin-left: 8rem; 
  }
    
  button {
      background-color: #CEA8FF;
      font-weight: bold;
      font-size: 1em; 
      right: 20px;
      top: 50%;
      padding: 1em 2em;
      color: black;
      border: none;
      border-radius: 1em;
      cursor:pointer;
    }
  button:hover {
        background-color: #DCB1FF;
      }

    /*-------------FORM--------------*/
  .container {
    display: flex;
    justify-content: center;
    color:#fff;
    align-items: center;
    min-height: 100vh;
    background: rgba(249, 248, 246, 0.23);
    margin: 6.5rem 7.5rem 7.5rem;
    flex-direction: column;
  }
  .titulo {
    font-size: 3rem;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
  }
  .container-formulario {
    width: 80%;
    border-radius: 10px; 
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20%;
    margin-right: 10%;
  }
  
  label {
    margin-bottom: 8px;
    font-size: 24px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 100%;
    height: 2rem;
  }
  input:hover {
    background-color: #CEA8FF
  }
  
  .btn-send {
    padding: 12px;
    background-color: #EFAB26;
    color: #fff;
    border-radius: 150px;
    cursor: pointer;
    text-align:center;
  }
  
  .btn-send:hover {
    background-color: #efc97c;
  }
  
  #respuesta {
    margin-top: 20px;
    color: red;
    text-align: center;
  }

  .checkbox-form{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    font-size: 16px;

  /*---------------FOOTER-----------*/
  .redes-sociales {
    margin: 0 10px;
    display: inline-block;
  }
  
  .redes-sociales img {
    width: 30px;
  }