
  body-f {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('/TechBechSchool/assets/images/Background image big.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

/*--------------NAV------*/
    nav {   
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #00CED1;
      }
      img {
        width: 12vw;  
    }
    
    button {
      background-color: #CEA8FF;
      font-weight: bold;
      font-size: 1em; 
      right: 20px; /* Ajusta este valor según tus necesidades */
      top: 50%;
      padding: 1em 2em; /* Ajusta el tamaño de los botones con unidades relativas */  color: black;
      border: none;
      border-radius: 1em; /* Ajusta la cantidad para hacer los botones más redondeados
      border: 0.2em solid #2980b9; Ajusta el grosor del borde con unidades relativas */
      cursor:pointer;
    }
    button:hover {
        background-color: #DCB1FF;
      }

    

    /*-------------FORM--------------*/
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(249, 248, 246, 0.23);
  
  }

  .container p-f {
    margin-bottom: 20px;
    font-size: 2.2em;
    display: flex;
    flex-direction: column;
  
  }
  
  .container-formulario {
    width: 80%;
    max-width: 400px;
    background-color: rgba(128, 0, 128, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button-formulario {
    padding: 12px;
    background-color: #EFAB26;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button-formulario:hover {
    background-color: #efc97c;
  }
  
  #respuesta {
    margin-top: 20px;
    color: aqua;
  }
  /*---------------FOOTER-----------*/
  .redes-sociales a {
    margin: 0 10px;
    display: inline-block;
  }
  
  .redes-sociales img {
    width: 30px;
  }