* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    background-image: url('/TechBechSchool/assets/images/Background image big.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

/*--------------NAV------*/
nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #00CED1;
  height:fit-content;

}

nav a {
  text-decoration: none;
}
  
.logo {
  width: 12vw;
  padding: 1em;
}

.nav_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
    
}
  
.bottom {
  background:linear-gradient(
    200deg,
    rgb(220, 177, 255), 
    rgb(0, 206, 209), 
    rgb(220, 177, 255));
  font-size: 1em; 
  padding: 1em ;
  border: none;
  border-radius: 1.5em; 
  cursor:pointer;
  margin: 0 0.5em; 
  
}
  
.bottom:hover {
  background-color: rgb(220, 177, 255);
  
}
  

.bottom:active {
  transform: scale(0.90);

}

    /*-------------FORM--------------*/
  .container {
    display: flex;
    justify-content: center;
    color:#fff;
    align-items: center;
    min-height: 100vh;
    background: rgba(249, 248, 246, 0.23);
    margin: 6.5rem 7.5rem 7.5rem;
    flex-direction: column;
  }
  .titulo {
    font-size: 3rem;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
  }
  .container-formulario {
    width: 80%;
    border-radius: 10px; 
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20%;
    margin-right: 10%;
  }
  
  label {
    margin-bottom: 8px;
    font-size: 24px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 100%;
    height: 2rem;
  }
  input:hover {
    background-color: #CEA8FF
  }
  
  .btn-send {
    padding: 12px;
    background-color: #EFAB26;
    color: #fff;
    border-radius: 150px;
    cursor: pointer;
    text-align:center;
  }
  
  .btn-send:hover {
    background-color: #efc97c;
  }
  
  #respuesta {
    margin-top: 20px;
    color: red;
    text-align: center;
  }

  .checkbox-form {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    font-size: 16px;
  }


  /*---------------FOOTER-----------*/
  .pie-de-pagina {
        
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #00CED1;

  }
   
  .redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociales a {
    margin-right: 20px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
}

.redes-sociales img {
  width: 40px;
  margin-right: 70px;
}

.texto-enlaces {
    display: flex;
    align-items: center;
}

.texto-enlaces p {
    margin: 5px 10px 5px 0; /* Ajusta el margen según tus preferencias */
}

.descripcion-imagen {
    max-width: 100%; /* Ajusta según sea necesario */
    text-align: center;
    margin: 10px;
}

.descripcion-imagen img {
    width: 100%;
    height: auto;
}

.descripcion {
    display: none;
}

.redes-sociales a,
.texto-enlaces {
  margin: 0;
}

.texto-enlaces p {
  margin-left: 10px;
}

.texto-enlaces a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}


/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
    .redes-sociales,
    .texto-enlaces {
        flex-direction: column;
        align-items: center;
    }

    .redes-sociales a {
        margin: 5px 0;
    }
}