body {
 
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-image: url('../../../TechBechSchool/assets/images/Background\ image\ big.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
  
nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #00CED1;
  height:fit-content;

}

nav a {
  text-decoration: none;
}
  
.logo {
  width: 12vw;
  padding: 1em;
}

.nav_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
    
}
  
.bottom {
  background:linear-gradient(
    200deg,
    rgb(220, 177, 255), 
    rgb(0, 206, 209), 
    rgb(220, 177, 255));
  font-size: 1em; 
  padding: 1em ;
  border: none;
  border-radius: 1.5em; 
  cursor:pointer;
  margin: 0 0.5em; 
  
}
  
.bottom:hover {
  background-color: rgb(220, 177, 255);
  
}
  

.bottom:active {
  transform: scale(0.90);

}

/*Piano*/
 
.piano-container {
  display: flex;
  flex-wrap: wrap;
  border: 10px solid rgb(208, 101, 7);
  border-radius: 1rem;
  margin: 0 auto;
  position: relative;
  padding: 1rem;
  margin-top: 3rem;
}

.key {
  width: 2.5rem;
  height: 10rem;
  border-radius:  4px 4px;
  box-shadow: 2px 2px 10px 0px rgb(204, 204, 204);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
}

.white-key {
  border: 3px solid rgb(99, 99, 99);
  background-color: rgb(255, 255, 255);
  position: relative;
  transition: 0.2s all;
}

.white-active,
.white-key:hover {
  background-color: rgb(147, 216, 224);
  border-bottom: none;
  transform: rotate3d(1, 0, 0, 20deg);
}

.black-key {
  display:flex;
  background: rgb(36, 32, 30);
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgb(41, 3, 74) 26%,
    rgb(157, 137, 200) 86%
  );
  height: 7rem;
  width: 1.5rem;
  position: absolute;
  top: 20px;
  transition: 0.2s all;
}

.black-1 {
  left: 46px;
  position: absolute;
}

.black-2 {
  left: 87px;
}

.black-3 {
  left: 172px;
}

.black-4 {
  left: 213px;
}
.black-5 {
  left: 254px;
}

.black-6 {
  left: 344px;
}
.black-7 {
  left: 384px;
}

.black-8 {
  left: 470px;
}

.black-9 {
  left: 511px;
}

.black-10 {
  left: 552px;
}
.black-11 {
  left: 640px;
}

.black-12 {
  left: 682px;
}

.black-13 {
  left: 764px;
}

.black-14 {
  left: 802px;
}

.black-15 {
  left: 840px;
  position: absolute;
}

.black-key:hover {
  background: linear-gradient(
    180deg,
    rgba(216, 127, 11, 0.338) 26%,
    rgb(187, 147, 73) 86%
  );

  transform: translateY(20px);
}

.black-key:active {
  background: linear-gradient(
    180deg,
    rgba(36, 32, 30, 1) 26%,
    rgb(164, 164, 164) 86%
  );
}


/*Controles*/

.options-container {
  display: flex;
  justify-content: space-around; 
}

.options-button {
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background:linear-gradient(
    180deg,
    rgb(245, 136, 4) 25%,
    rgb(230, 176, 94) 86%
    );
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.2s all;
  display:flex ;
  
}

.options-button:hover {
  background: linear-gradient(
    180deg,
    rgb(230, 176, 94) 25%,
    rgb(245, 136, 4) 86%
  );
}

.options-button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/*Footer*/

.pie-de-pagina {
        
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #00CED1;

}
 
.redes-sociales {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes-sociales a {
  margin-right: 20px;
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
}

.redes-sociales img {
  width: 30px;
}

.texto-enlaces {
  display: flex;
  align-items: center;
}

.texto-enlaces p {
  margin: 5px 10px 5px 0; /* Ajusta el margen según tus preferencias */
}

.descripcion-imagen {
  max-width: 100%; /* Ajusta según sea necesario */
  text-align: center;
  margin: 10px;
}

.descripcion-imagen img {
  width: 100%;
  height: auto;
}

.descripcion {
  display: none;
}

.redes-sociales a,
.texto-enlaces {
margin: 0;
}

.texto-enlaces p {
margin-left: 10px;
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
  .redes-sociales,
  .texto-enlaces {
      flex-direction: column;
      align-items: center;
  }

  .redes-sociales a {
      margin: 5px 0;
  }
}