.encabezado {
  display: flex;
width: 414px;
height: 64px;
padding: 14px 17px 10px 9px;
align-items: center;
gap: 12px;
flex-shrink: 0;
border-bottom: 3px solid #00A7C5;
}

.piano-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.piano {
  display: flex;
}

.key {
  width: 50px;
  height: 200px;
  margin: 0 5px;
  border: 1px solid #000;
  cursor: pointer;
}

.key.active {
  background-color: lightblue;
}